body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        .header {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    font-family: Arial, sans-serif;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    color: #333;
    font-family: Arial, sans-serif;
}
        .calculator {
            background-color: #000; /* Changed to dark grey */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transform: scale(1.4);
        }
        .display {
            background-color: #312e2e;
            color: #ffffff;
            font-size: 2em;
            text-align: right;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            height: 40px;
            line-height: 40px;
        }
        .keys {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
        }
        button {
            background-color: #2e2e2e;
            color: #fff;
            border: none;
            padding: 20px;
            font-size: 1.5em;
            cursor: pointer;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button:hover {
            background-color: #888;
        }
        button:active {
            background-color: #555;
        }
        .operator {
            background-color: #597190;
        }
        .operator:hover {
            background-color: #597190;
        }
        .equals {
            background-color: #0b2db2;
        }
        .equals:hover {
            background-color: #0b2db2;
        }
        .clear {
            background-color: #c36262;
        }
        .clear:hover {
            background-color: #ff6666;
        }
        .backspace {
            background-color: #2e2e2e;
        }
        .backspace:hover {
            background-color: #bbb;
        }
        .backspace img {
           width: 30px;
           height: 30px;
           object-fit: contain;
}
